<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<servlet>
		<servlet-name>MyFirstServlet</servlet-name>
		<servlet-class>com.java.mywebproject.MyFirstServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyFirstServlet</servlet-name>
		<url-pattern>/MyFirstServlet</url-pattern>
	</servlet-mapping>
	
   	<servlet>
		<servlet-name>MySecondServlet</servlet-name>
		<servlet-class>com.java.mywebproject.MySecondServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MySecondServlet</servlet-name>
		<url-pattern>/MySecondServlet</url-pattern>
	</servlet-mapping>
</web-app>